@page "/stats"
@using Humanizer.Bytes

@if (IsDevelopment)
{
    <div class="alert alert-info">
        <dl>
            <dt>#Trie nodes</dt>
            <dd>@NumberOfTrieNodes.ToString("N0")</dd>

            <dt>#String bytes in trie</dt>
            <dd>@(new ByteSize(NumberOfTrieStringBytes).ToString("G"))</dd>

            <dt>#Bytes in trie</dt>
            <dd>@(new ByteSize(NumberOfTrieBytes).ToString("G"))</dd>
        </dl>
    </div>
}

<div class="gh-table-header d-flex flex-row align-items-center">
    @{
    var stats = TrieService.IndexStats;
    var orgCount = stats.Select(r => r.Org).Distinct().Count();
    var repoCount = stats.Count;
    var issueCount = stats.Select(s => s.NumberOfIssues).DefaultIfEmpty().Sum();
    var lastUpdated = stats.Select(s => s.LastUpdatedAt).Where(d => d != null).DefaultIfEmpty().Max();
    }
    <div>
        @($"{issueCount:N0} issues across {orgCount} orgs and {repoCount} repos, updated {lastUpdated.Humanize()}")
    </div>
    <div class="ml-auto dropdown small">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="sortDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortDropdownMenuButton">
            @foreach (var sort in Sort.All)
        {
            <button class="dropdown-item" @onclick="() => SortBy = sort">@sort.DisplayName</button>
        }
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Org</th>
            <th>Repo</th>
            <th>Last Updated</th>
            <th class="text-right">#Open</th>
            <th class="text-right">#Total</th>
            <th class="text-right">Size</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Rows)
    {
        <tr>
                <td><a href="https://github.com/@item.Org">@item.Org</a></td>
                <td><a href="https://github.com/@item.Org/@item.Repo">@item.Repo</a></td>
                <td>@item.LastUpdatedAt.Humanize()</td>
                <td class="text-right">@item.NumberOfOpenIssues.ToString("N0")</td>
                <td class="text-right">@item.NumberOfIssues.ToString("N0")</td>
                <td class="text-right">@(ByteSize.FromKilobytes(item.Size).ToString("G"))</td>
            </tr>
    }
    </tbody>
</table>
