@page "/version"

@using System.Reflection;
@using System.Runtime.InteropServices;
@using IssueDb.Crawling;

<dl>
    @if (_commit is not null)
    {
        <dt>Commit</dt>
        <dd><a href="https://github.com/terrajobst/issuesof.net/commit/@(_commit)">@_commit</a></dd>
    }

    <dt>Framework</dt>
    <dd>@RuntimeInformation.FrameworkDescription</dd>

    <dt>OS</dt>
    <dd>@RuntimeInformation.OSDescription</dd>

    <dt>Index Format Version</dt>

    @if (IndexService.Index is null)
    {
        <dd>Unknown</dd>
    }
    else
    {
        <dd>@IndexService.Index.Version</dd>
    }

    <dt>Latest Format Version</dt>
    <dd>@CrawledIndex.LatestVersion</dd>
</dl>
